.item1 img{
  position: absolute;
  right: -30px;
  top: 10px;
  width: 130%;
}

.item4 img{
  position: absolute;
  right: 10px;
  top: 0px;
  width: 85%;
}

.item7 img{
  position: absolute;
  right: 20px;
  top: 10px;
  width: 80%;
}

.item10 img{
  position: absolute;
  right: -30px;
  top: 10px;
  width: 130%;
}




