.item1 img{
  position: absolute;
  right: 35px;
  top: 20px;
  width: 70%;
}
.item2 img{
  position: absolute;
  right: 35px;
  top: 20px;
  width: 70%;
}
.item3 img{
  position: absolute;
  right: 75px;
  top: 35px;
  width: 30%;
}

.item4 img{
  position: absolute;
  right: 45px;
  top: 30px;
  width: 60%;
}
.item5 img{
  position: absolute;
  right: 45px;
  top: 30px;
  width: 60%;
}
.item6 img{
  position: absolute;
  right: 45px;
  top: 0px;
  width: 55%;
}

.item7 img{
  position: absolute;
  right: 55px;
  top: 20px;
  width: 50%;
}
.item8 img{
  position: absolute;
  right: 50px;
  top: 20px;
  width: 50%;
}
.item9 img{
  position: absolute;
  right: 10px;
  top: -20px;
  width: 90%;
}
.item10 img{
  position: absolute;
  right: 30px;
  top: 20px;
  width: 70%;
}
.item11 img{
  position: absolute;
  right: 30px;
  top: 20px;
  width: 70%;
}
.item12 img{
  position: absolute;
  right: 10px;
  top: -5px;
  width: 90%;
}


